services:
  playwright:
    build: .
    working_dir: /app
    volumes:
      - .:/app
      - ./playwright-tests/screenshots:/app/playwright-tests/screenshots
      - ./playwright-report:/app/playwright-report