name: Unit and E2E Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        run: npm install -g pnpm@9

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm test
        continue-on-error: true

      - name: Execute Playwright tests in Docker
        env:
          API_BASE_URL: https://wcc-backend-dev.fly.dev/api
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          echo "API_BASE_URL=$API_BASE_URL" >> .env.local
          echo "API_KEY=$API_KEY" >> .env.local
          pnpm test:e2e:docker
        continue-on-error: true
