name: Unit and E2E Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        run: npm install -g pnpm@9

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm test

      - name: Build Docker Image for Visual Testing
        run: |
          docker build -t wcc-playwright .

      - name: Run Visual Testing with Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/playwright-tests/screenshots:/app/playwright-tests/screenshots \
            wcc-playwright

      - name: Upload Playwright test reports
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
          
      - name: Upload visual testing artifacts
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: visual-test-screenshots
          path: playwright-tests/screenshots/
          retention-days: 30
